<tr class="domain_container">
  <td>
     <span class="icon">@</span><%= text_field_tag 'settings[allowed_email_domains][]', email_domain, :id => nil %>
  </td>
  <td>
    <a class="remove"><%= l(:remove_domain) %></a>
  </td>
</tr>
